.boton {
    background-color: #5e2129;
    color: white;
    font-size:  16px;
    align-items: center;
    border-radius: 10px;
}

i {
    font-size: 20px;
}

.container {
    width:97%;
}

.btn-agregar {
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    background-color: green;
} 

.btn-agregar:hover {
    background-color: green;
}