html, body {
    font-family: 'Numans', sans-serif;
}

.container-fluid {
    background-color: #5e2129;
}

.tag {
    background-color: #5e2129;
    color: white;
    text-align: center;
    padding: 3px 10px;
    border-radius: 10px;
}

.col-lg-3  h4 {
    text-align: center;
}

.center {
    color: black;
    text-align: center;
}