body#LoginForm{ 
    background-image: url("../../imagenes/simapaj.jpg"); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    padding:10px;
}

.form-heading { 
    color: #fff; 
    text-align: center;
}

.panel h2 { 
    color:#444444; 
    margin:0 0 8px 0;
}

.panel p { 
    color:#777777; 
    font-size:14px; 
    margin-bottom:30px; 
    line-height:24px;
}

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 10px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 40px 70px 40px;
}

.login-form .form-group {
  margin-bottom:10px;
}

.login-form { 
    text-align:center;
}

.login-form .btn.btn-primary {
  background: #5e2129 none repeat scroll 0 0;
  border-color: #5e2129;
  color: white;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.login-form .btn.btn-primary.reset {
  background: #5e2129 none repeat scroll 0 0;
}